body {
	font-family: "roboto", sans-serif;
	margin: 0;
}
.top-navigation {
	position: fixed;
	background-color: #fff;
	width: 100%;
}
.top-navigation > .content {
	height: 3.5rem;
	text-align: center;
}
.top-navigation .top-links {
	float: none;
	color: #585858;
	font-size: 1rem;
	margin: 1rem;
}
li {
	display: inline-block;
	margin: 1rem;
}