body {
	font-family: "roboto", sans-serif;
	margin: 0;
}
.top-navigation {
	position: fixed;
	background-color: #fff;
	width: 100%;
}
.top-navigation > .content {
	height: 2.5rem;
	text-align: center;
	border-bottom: 2px #585858;
}
.top-navigation .top-links {
	float: none;
	color: #585858;
	font-size: 1rem;
}
.top-links li {
	display: inline-block;
	font-weight: 300;
	margin-right: 2rem;
	margin-top: 2px;
}
.dunes > h2 {
	color: white;
	text-align: center;
	font-weight: 100;
	margin-top: 25rem;
}
.dunes {
	background-image: url(../images/nick.jpg);
	background-size: cover;
	height: 45rem;
	background-repeat: no-repeat;
	overflow: auto;
	background-position: center bottom;
}
.quotes ul {
	list-style: none;
	text-align: center;
}
.quotes li {
	display: inline-block;
	float: none;
}
h1 {
	font-weight: 300;
	color: #585858;
	padding: 4rem;
	margin: 0;
}
.quotes {
	 background: #FEF5CA;
	 background-size: cover;
	 background-repeat: no-repeat;
	 overflow: auto;
	 border-top: none;
	 margin: 0;
	 padding: 0;
}
.dunes-2 {
	background-image: url(../images/dunes.jpg);
	background-size: cover;
	height: 17rem;
	background-repeat: no-repeat;
	overflow: auto;
	background-position: center bottom;
}
.footer-social {
	background: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
}
.social-icons > li {
	display: inline-block;
	margin-top: .5rem;
}
h3 {
	font-weight: 100;
	color: #585858;
	font-size: 1rem;
	margin-top: 2rem;
	margin-bottom: 0;
	padding-left: 2rem;
}
.menu {
	float: right;
	margin-right: 5rem;
	margin-bottom: 2rem;
	color: #585858;
	font-weight: 100;
	margin-top: -2rem;
}




