
body {
	font-family: "roboto", sans-serif;
	margin: 0;
}
.top-navigation {
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 9999;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	margin-top: -1rem;
}
.top-navigation > .content {
	height: 2.5rem;
	text-align: center;
	border-bottom: 2px #585858;
}
.top-navigation .top-links a {
	float: none;
	color: #585858;
	font-size: 1rem;
	text-decoration: none;
}
.top-navigation .top-links li {
	display: inline-block;
	font-weight: 300;
	margin-right: 2rem;
	margin-top: 2px;
	text-decoration: none;
}
.top-navigation .top-links li.active {
    color: ##585862;
    font-weight: 500;
}
.top-navigation .top-links li a:hover {
    cursor: pointer;
    color: #FEF5CA;
}
.portfolioitem img {
	width: 75%;
	border: solid 1px #585858;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 4px 5px 22px 0px rgba(48, 50, 50, 0.22);
	-moz-box-shadow: 4px 5px 22px 0px rgba(48, 50, 50, 0.22);
	box-shadow: 4px 5px 22px 0px rgba(48, 50, 50, 0.22);
}
.ports .portfolio li {
	display: inline-block;
	margin-bottom: 14rem;
	margin-top: 8rem;
}
.ports {
	text-align: center;
	background-color: #F0F0F0;
}
.ports ul li{
	display: inline-block;
}
h5 {
	font-size: 1rem;
	font-weight: 100;
}
.footer-social {
	background: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
}
.social-icons > li {
	display: inline-block;
	margin-top: .5rem;
}
h3 {
	font-weight: 100;
	color: #585858;
	font-size: 1rem;
	margin-top: 2rem;
	margin-bottom: 0;
	padding-left: 2rem;
}
.menu {
	float: right;
	margin-right: 5rem;
	margin-bottom: 2rem;
	color: #585858;
	font-weight: 100;
	margin-top: -2rem;
}
